// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color Schema Collectiverse
$cv-light-blue: #EEF6F7 !important;
$cv-medium-blue: #24bbce !important;
$cv-blue: #6387ec !important;
$cv-dark-blue: #242834 !important;
$cv-white: #D7DADC !important;
$cv-green: #82ba08 !important;
$cv-bg-black: #12151E !important;
$cv-green-hover: #10C393 !important;
$cv-red-hover: #DD4431 !important;
$form-dark-color: #434759 !important;
