// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color Schema Collectiverse
$collectiv-blue: #edf6f7;
$collectiv-white: #ffffff;
$collectiv-dark-blue: #000724;
$collectiv-green: #82ba08;
$collectiv-medium-blue: #24bbce;
