<% start_date = Date.today %>


  <% @toys.each do |toy| %>
    <div class="card-release-toy mt-2 p-2" data-controller="toyimage">
        <div class="card-image-release-toy" data-action="click->toyimage#enlargeImage">
          <%= image_tag(toy.image_url, class: "card-img-release-toy", data: { toyimage_target: "image" }) %>
        </div>
        <div class="card-header-release-toy">
          <h5 class="card-title"><%= toy.name.truncate(25) %></h5>
        </div>
        <div class="card-body-release-toy">
          <p class="card-text">Coming in: <strong><%= (toy.release_date - start_date).to_i %></strong> Days</p>
          <div class="card-button text-center justify-content-start d-flex">
            <a href="#" class="button__secondary">Where to buy</a>
          </div>
        </div>
    </div>
  <% end %>
