
<h2 class="text-center mt-2 p-2 static__text">Add release Dates to your Calendar</h2>
<div class="container mt-3 p-3" style="border-radius: 10px;">
  <div class="toy-cards">
    <% @toys.each do |toy| %>
      <div class="card card-min-height w-100 toys__content" style="width: 18rem; border:none; border-radius: 10px;">
          <div class="card-image">
          <%= image_tag(toy.image_url, class: "card-img-calendar") %>
          </div>
          <div class="card-content m-3">
            <h3 class="toy-name static__text xl__font"><%= toy.name.truncate(30) %></h3>
            <div class="d-flex justify-content-between">
              <p class="toy-release-date static__text l__font"><%= toy.release_date %></p>
              <%= link_to release_date_path(toy), class: "button__secondary" do %>
                <i class="fa-solid fa-calendar" style="color: #dedede;"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
