
<h2 class="text-center mt-2 p-2">Add release Dates to your Calendar</h2>
<div class="container mt-3 p-3 bg-white" style="border-radius: 10px;">
  <div class="toy-cards">
    <% @toys.each do |toy| %>
      <div class="card card-min-height w-100" style="width: 18rem; border:none; border-radius: 10px;">
          <div class="card-image">
          <%= image_tag(toy.image_url, class: "card-img-calendar") %>
          </div>
          <div class="card-content m-3">
            <h3 class="toy-name"><%= toy.name %></h3>
            <div class="d-flex justify-content-between">
              <p class="toy-release-date"><%= toy.release_date %></p>
              <%= link_to "Add to Calendar", user_path(current_user), class: "btn btn-calendar" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
