  <%= simple_form_for([post, comment],
    data: {
      insert_in_list_target: "form",
    action: "submit->insert-in-list#send"
  }) do |f|
  %>
  <span class="s__font"><%= f.input :content, label: "Comment as #{current_user.username}", placeholder: "Write down your comment here!" %></span>
  <span class="comment__button__placeholder s__font"><%= f.submit 'Comment', class: "comment__button" %></span>
  <% end %>
