// Specific CSS for your home-page
.site__content{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 34px;
}

.site__content__left{
  width: 300px;
}

.site__content__right{
  width: 300px;
}
