.registration__content__left{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration__box{
  margin-top: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.registration__box__text{
  display: flex;
  justify-content: center;
}

.registration__content__right{
  width: 50vw;
}

.session__image{
  object-fit: cover;
  width: 50vw;
  height: calc(100vh - 50px);
}

.div-content{
  margin-top: 25px;
}

.signup-card-background {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 100px;
}

.login-card-background {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 120px;
}

// hello
