<% if current_user %>
  <% if @notifications.empty? %>
    <span>Not popular....</span>
    <% else %>
    <div class="container">
      <% @notifications.each do |notification| %>
        <%= render notification,
          user: notification.to_notification.creator,
          post: notification.to_notification.post,
          unread: notification.unread? %>
      <% end %>
    </div>
  <% end %>
<% end %>
