<div>
  <span class="static__text"><%= link_to post.title.titleize, post_path(post)%></span>
  <span class="static__text">| <%= user.username %> | <%= notification.created_at.to_date %> | <%= notification.read? ? "Read" : "Unread" %> </span>
</div>
