<div class="board">
<div class="board__container">
  <span class="board__main__text xxl__font"><strong>Categories</strong></span>
  <div class="line__border"></div>
    <div class="board__content">
      <% Category.all.first(10).each do |category| %>
        <%= link_to category_path(category) do  %>
        <span , class="board__content__text"><%= category.name.capitalize %></span>
        <% end %>
      <% end %>
    </div>
    <div class="line__border"></div>
  <%= link_to 'All Categories', categories_path, class: "board__additional__button" %>
  </div>
</div>
