<div class="board">
  <% if user_signed_in? %>
  <div class="board__container">
    <span class="board__main__text"><%= link_to current_user.username, user_path(current_user) %></span>
    <div class="line__border"></div>
    <div class="board__sub">
      <div class="board__sub__container">
      <% @post = Post.all %>
        <span class="sub__main__text"><%= current_user.posts.count %></span>
        <span class="sub__title__text"> Posts </span>
      </div>
      <div class="board__sub__container">
        <span class="sub__main__text"><%= current_user.comments.count %></span>
        <span class="sub__title__text"> Comments </span>
      </div>
    </div>
  </div>
  <div class="board__profile__image" style="background-image: url(https://cdn.medcom.id/dynamic/content/2023/04/18/1559704/jnwhtaluoy.jpg?w=1024);">
  </div>
  <% else %>
  <div class="board__container">
    <span class="board__main__text">Home Page</span>
    <span class="board__main__text"><%= link_to "Login", new_user_session_path, class: "btn button__login nav__item" %></span>
  </div>
  <% end %>
</div>
