<div class="footer">
  <p class="footer-text">© Collectiverse 2023. All rights reserved.</p>
  <div class="footer-links">
    <%= link_to "About", pages_about_path, class:"btn btn-sm btn-outline-secondary button-footer-link py-2 px-4" %>
    <%= link_to "Contact", pages_contact_path, class:"btn btn-sm btn-outline-secondary button-footer-link py-2 px-4" %>
  </div>
</div>
