<div class="footer">
  <%= link_to "/", class: "navigation__bar__left__side" do %>
    <%= image_tag "logo.png", class: "forum__logo__image" %><span class="forum__logo__text">COLLECTIVERSE</span>
  <% end %>
</div>
