<div class="card forum__post">
  <div class="card-body p-4 forum__post__content">
    <h5 class="card-title">Best Transformers for Collectors</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p> <%# truncate(CHANGE THIS, length: 60) %>
    <div class="d-flex flex-wrap justify-content-start align-items-center">
      <%# <div class="px-4 pt-3"><i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div> %>
      <div class="px-2 pt-3"><span class="align-middle">Transformers</span></div>
      <div class="px-2 pt-3"><span class="align-middle">·</span></div>
      <div class="px-2 pt-3"><span class="align-middle">69 comments </span></div>
      <div class="px-2 pt-3"><span class="align-middle">·</span></div>
      <div class="px-2 pt-3"><span class="align-middle">420 kudos</span></div>
    </div>
  </div>
</div>
