<div class="card forum__post">
  <div class="card-body forum__post__content">
    <h5 class="card-title">Best Transformers for Collectors</h5>
    <p class="card-text" style="width: 85%;">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p> <%# truncate(CHANGE THIS, length: 60) %>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-wrap justify-content-start align-items-center">
        <div class="px-2 pt-3"><span class="align-middle">Transformers</span></div>
        <div class="px-2 pt-3"><span class="align-middle">·</span></div>
        <div class="px-2 pt-3"><span class="align-middle">69 comments </span></div>
        <div class="px-2 pt-3"><span class="align-middle">·</span></div>
        <div class="px-2 pt-3"><span class="align-middle">420 kudos</span></div>
      </div>
      <div class="d-flex flex-wrap justify-content-end align-items-center">
        <div class="notification">
          <div class="notification-content">
            <p><strong>Kenny Devin</strong></p>
            <p><small>1 week ago</small></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "forum__post__content__avatar", alt: "avatar-large" %>
        </div>
      </div>
    </div>
  </div>
</div>
