<div class="board">
  <div class="board__container">
    <span class="board__main__text xxl__font"><strong>Top Traders</strong></span>
    <div class="line__border"></div>
    <div class="board__content">
      <% User.all.first(10).each do |user| %>
        <span class="board__content__text"><%= link_to user.username, user_path(user) %>
        &nbsp;· 5k Trades</span>
      <% end %>
    </div>
  </div>
</div>
