<div class="board">
  <div class="board__container">
    <span class="board__main__text header__font"><strong>TOP TRADERS</strong></span>
    <div class="line__border"></div>
    <div class="board__content">
      <% User.all.first(10).each do |user| %>
        <span class="board__content__text"><%= link_to user.username.truncate(12), user_path(user) %>
        &nbsp;<span>·5k</span></span>
      <% end %>
    </div>
  </div>
</div>
