<div class="index__banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static1.thegamerimages.com/wordpress/wp-content/uploads/2020/02/Warhammer-40k-Featured-Image.jpg?q=50&fit=contain&w=1140&h=570&dpr=1.5);">
  <div class="banner__text">
    <span class="banner__logo__text">Collectiverse</span>
    <span class="banner__sub__text">A Universe for Collectors!</span>
  </div>
</div>
