
<div class="container mt-2 p-2 bg-white" style="border-radius: 10px;">
<h2 class="text-center mt-2 p-2">What is the Collectiverse „KARMA“ ? </h2>
<h5 class="text-center p-1">Good Question - we completely understand how confusing it can be when you are new on Collectiverse!</h5>
</div>
<div class="container mt-3 p-3 bg-white" style="border-radius: 10px;">
  <p class="general-informations p-1">The strength of the Collectiverse community lies in the invaluable contributions made by each of its members. In Collectiverse, every contribution holds significance as it contributes towards unlocking a Karma Level, symbolizing your esteemed position within the community.</p>


  <p class="karma-levels p-1">Karma Levels are a way of:</p>
  <ol>
    <li>In order to ensure the safety and well-being of both newcomers and the community as a whole, we have implemented a user sandboxing system.</li>
    <li>This approach allows new users to explore and familiarize themselves with the forum environment without the risk of inadvertently or intentionally causing harm to themselves, the forum, or fellow users. By providing a protected space for learning and acclimation, we foster a supportive and secure environment for everyone to thrive and grow.</li>
    <li>In recognition of their generous contributions and dedication, experienced users are granted additional rights to maintain and moderate the community effectively.</li>
  </ol>
  <div class="karma-level-cards mt-3 p-3">
    <div class="card card-min-height w-100 card-blue-light">
      <div class="card-header text-center"><strong>0-50</strong> Karma Points</div>
        <div class="card-body">
          <h5 class="card-title-newbie text-center p-1">Hello Newbie</h5>
            <div class="card-text">
              <p>You are new at Collectiverse and just created an account!</p>
              <p> Now you can: </p>
              <ul>
                <li>See all Posts</li>
                <li>Upvote Posts</li>
                <li>Upvote Comments</li>
                <li>Choose your favorite Categories</li>
                <li>Safe upcoming Toys to your calendar</li>
              </ul>
            </div>
        </div>
    </div>
    <div class="card card-min-height w-100 card-blue-blue">
      <div class="card-header text-center"><strong>50-150</strong> Karma Points</div>
        <div class="card-body">
          <h5 class="card-title-rising text-center p-1">Hello Rising Star</h5>
            <div class="card-text">
              <p>You are an active user, reader and upvoter!</p>
              <p> Now you can: </p>
              <ul>
                <li>Make your own Posts</li>
                <li>Make Comments</li>
                <li>Make Subcomments</li>
              </ul>
            </div>
        </div>
    </div>
    <div class="card card-min-height w-100 card-blue-medium">
      <div class="card-header text-center"><strong>150-250</strong> Karma Points</div>
        <div class="card-body">
          <h5 class="card-title-superstar text-center p-1">Hello Superstar</h5>
            <div class="card-text">
              <p>You are an regularly helpful Collectiverse member, contributing both posts and answers and you are so close to be a Moderator. You are a great Collectiverse User!</p>
              <p> Now you can: </p>
              <ul>
                <li>See Profiles from other users</li>
              </ul>
            </div>
        </div>
    </div>
    <div class="card card-min-height w-100 card-blue-dark">
      <div class="card-header text-center"><strong>250 & more</strong> Karma Points</div>
        <div class="card-body">
          <h5 class="card-title-moderator text-center p-1">Hello Moderator</h5>
            <div class="card-text">
              <p>You have contributed so much, and so well, that you have ALL the tools to moderate Collectiverse. You are one of the top contributors and greatest community members!</p>
              <p> Now you can: </p>
              <ul>
                <li>Delete Posts</li>
                <li>Delete Comments</li>
                <li>Delete Subcomments</li>
              </ul>
            </div>
        </div>
    </div>
  </div>

</div>
<%= link_to "Go to your Profile", profile_path, class: "btn btn-profile text-center" %>
