<% start_date = Date.today %>
<% end_date = start_date + 6 %>


asd

<section style="background-color:$cv-light-blue;">
  <div class="container" data-controller="calendar">
    <div class="row">
      <div class="card__calender">
        <div class="simple-calendar">
          <table class="table table-striped">
            <thead>
              <tr>
              <%= month_calendar(events: @toys, attribute: :release_date) do |date, toys| %>
                <div class="calendar-day" data-full-date="<%= date %>" data-action="click->calendar#showToys">
                  <div class="<%= "green-day" if toys.any? %>"><%= date.day %></div>
                </div>
              <% end %>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    <div class="row">
      <div class="container align-self-end" data-calendar-target="toysbox">
      </div>
    </div>
  </div>
</section>
