<section style="background-color:$collectiv-light-blue;">
  <div class="container py-5">
    <div class="row">
        <div class="card card__profile">
          <div class="card-body text-center">
            <img src="https://cdn.pixabay.com/photo/2023/05/02/10/32/avatar-7964941_1280.png" alt="avatar-large"
              class="rounded-circle img-fluid" style="width: 150px;">
           <h5 class="my-3"><%= current_user.username %></h5>
           <p class="my-3">Count Posts</p>
           <p class="my-3">Count Comments</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Edit Profil</button>
              <button type="button" class="btn btn-outline-primary ms-1">Logout</button>
            </div>
          </div>
        </div>
        <div class="card card__karma">
          <div class="card-body text-center">
            <h5 class="my-3">Karma</h5>
            <p class="my-3 d-inline">Your Karma level</p>
            <h2 class="my-3"><%= current_user.admin_level %></h2>
            <button onclick="">How to get better <b>Karma</b></button>
          </div>
        </div>
        <div class="card card__calender">
          <div class="card-body body__calender">
          </div>
        </div>
    </div>
  </div>
</section>
