<div class="card ml-5">
  <div class="card-body">
    <%= simple_form_for([comment, subcomment],
    data: {
    insert_subcomment_in_list_target: "form-subcomment",
    action: "submit->insert-subcomment-in-list#send"
    }) do |f|
    %>
    <%= f.input :content %>
    <%= f.button :submit, class: "button_primary" %>
    <% end %>
  </div>
</div>
