<div class="card">
  <div class="card-body">
    <%= comment.content %>
      <a class="d-block btn button_primary" data-action= "click->reply-subcomment#revealContent">Reply</a>
    <% if comment.subcomments.any? %>
      <% comment.subcomments.each do |reply| %>
        <%# <%= render partial: 'comments/subcomments', locals: { subcomment: @subcomment } %>
      <% end %>
   <% end %>
  </div>
</div>
