<div class="comment__card">
  <div class="comment__card__body">
    <span class="comment__username"><%= link_to subcomment.user.username, '/profile' %> at <%= subcomment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
    <span class="comment__content"><%= subcomment.content %></span>
    <span class="comment__buttons"><a data-action= "click->reply-subcomment#revealContent"><i class="fa-solid fa-reply"></i>Reply</a></span>
    <%# apply subcomment in subs again%>
  </div>
</div>
