<h1>Index posts</h1>
<div class="container mt-5">
  <div class="cards">
    <% @post.each do |post| %>
      <div class="card mb-3 mx-auto card-min-height" style="width: 18rem;">
        <%= link_to post_path(post) do  %>
          <div class="card-image">
            <p> <%= cl_image_tag post.photo.key, height: "300px", class: "card-img-top" %> </p>
            <h3 class="post-name"><%= post.name %></h3>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>
</div>
