.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 34px;
}

.board__container{
  padding: 25px;
  width: 100%;
}

.board__main__text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 12.5px;
}

.board__sub{
  margin-top: 12.5px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.board__sub__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board__profile__image{
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.board__content{
  margin: 12.5px 0;
  display: flex;
  flex-direction: column;
}

.content__sub__text:hover{
  color: rgb(155, 155, 155);
}

.board__content__text{
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}

.board__additional__button{
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.site__content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 34px;
  padding: 34px;
}

.line__border {
  height: 1px;
  margin: auto;
  width: 100%;
}

.post__content {
  height: 180px;
  width: 100%;
  padding: 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.content__title{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
  margin-bottom: 12.5px;
}

.content__description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content__desc__item{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category__title{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

.sticky__board{
  position: -webkit-sticky;
  position: sticky;
  top: 84px;
}

.content__item{
  margin-top: 12.5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content__desc__left{
  display: flex;
  align-items: center;
}
