.button__primary{
  color: $white;
  background-color: $cv-blue;
  display: flex;
  border-radius: 25px;
  margin: 0 6px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  padding: 8px 25px;
  font-size: 16px;
  border-width: 0px;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);}


.button__primary:hover{
  background-color: #4d69b7;
  color: white;
}

.button__secondary{
  color: $white;
  background-color: $cv-green;
  display: flex;
  border-radius: 25px;
  margin: 0 6px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  padding: 8px 25px;
  font-size: 16px;
  border-width: 0px;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.button__secondary:hover{
  background-color: #5f8807;
  color: white;
}

.button__tertiary{
  color: $black;
  background-color: #eeebeb;
  display: flex;
  border-radius: 25px;
  margin: 0 6px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  padding: 8px 25px;
  font-size: 16px;
  border-width: 0px;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.button__tertiary:hover{
  background-color: #d5d5d5;
  color: black;
}
