.button_primary {
  color: $white;
  background-color: $cv-blue;
  border-width: 0px;
  border-radius: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: $cv-blue;
  font-family: 'Lato', sans-serif;
  transition-duration: 0.5s;
  display: inline-flex;

}

.button_primary:hover {
    background-color: $cv-dark-blue;
    color: white;
}

.button_secondary {
  color: $white;
  background-color: $cv-green;
  border-width: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: $cv-green;
  font-family: 'Lato', sans-serif, ;
  transition-duration: 0.5s
}

.button_secondary:hover {
    background-color: $cv-dark-blue;
    color: white;
}

.button_tertiary {
  border-width: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: $white;
  font-family: 'Lato', sans-serif;
  transition-duration: 0.5s
}

.button_tertiary:hover {
    color: #faf8f8;
    background-color: $cv-dark-blue;
}
