.cards {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 875px;
}

.card {
  align-items: flex-start;
  height: 105px;
  width: 875px;
}

.card__content {
  height: 105px;
  width: 875px;
  padding: 25px;
  text-decoration: none;
}
