.cards {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 875px;
}

.card {
  align-items: flex-start;
  height: 105px;
  width: 875px;
}

.card__content {
  height: 105px;
  width: 875px;
  padding: 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.card__description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}

.post__title{
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: flex-start;
  width: 550px;
}

.post__user__and__category{
  text-align: right;
  font-family: 'Outfit', sans-serif;
}

.post__date{
  text-align: right;
  font-family: 'Outfit', sans-serif;
}

.categories__list{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #CBCBCB solid;
  border-radius: 10px;
  margin-bottom: 34px;
}

.categories__list__main__text{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: 'Outfit', sans-serif;
}

.categories__list__sub{
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.sub__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
}

.categories__image{
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border-radius: 0 0 10px 10px;
}

.content__sub{
  padding: 5px 10px 15px 10px;
  display: flex;
  flex-direction: column;
}

.content__sub__text{
  display: flex;
  justify-content: flex-start;
  width: 250px;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: black;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}

.content__sub__text:hover{
  color: rgb(155, 155, 155);
}

.content__top__category{
  display: flex;
  justify-content: flex-start;
  width: 250px;
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  color: black;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}

.content__top__category:hover{
  color: rgb(155, 155, 155);
}

.content__profile__username{
  display: flex;
  justify-content: center;
  width: 250px;
  font-family: 'Outfit', sans-serif;
  font-size: 32px;
  color: black;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2px;
}

.content__profile__username:hover{
  color: rgb(155, 155, 155);
}
