.comment__card{
  width: 100%;
  margin: 12.5px 0;
}

.comment__card__body{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comments__box{
  font-size: 20px;
  margin: 12.5px 0;
}

.comments__big__box{
  border-left: 1px #CBCBCB solid;
  padding-left: 25px;
}

.comment__button{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 2px #CBCBCB solid;
  background-color: #CBCBCB;
  border-radius: 25px;
  margin: 12.5px 0;
  padding: 0 12px;
}

.comment__button__placeholder{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment_content{
  width: 100%;
  margin: 0 !important;
}

.subcomment_content{
  width: 100%;
  margin: 0 !important;
}
