// Dark Mode
body.dark {
  background: $cv-bg-black;
}

body.dark .line__border {
  background-color: $cv-white;
}

body.dark .static__text{
  color: $cv-white;
}

body.dark a{
  color: $cv-white;
}

body.dark a:hover{
  color: $cv-green-hover;
}

// Navbar
body.dark .navigation__bar {
  background-color: $cv-dark-blue;
  border-color: $cv-dark-blue;
}

body.dark .forum__logo__text {
  color: $cv-white;
}

body.dark .nav__icon {
  color: $cv-white;
}

body.dark .profile__button{
  border-color: $cv-white;
}

body.dark .profile__button:hover{
  border-color: $cv-green-hover;
}

body.dark .profile__text{
  color: $cv-white;
}

body.dark .dropdown-menu.show{
  background: $cv-dark-blue;
  border-color: $cv-dark-blue;
}

// Board
body.dark .board{
  background-color: $cv-dark-blue;
  box-shadow: 0 3px 20px #1d26260d;
  color: $cv-white;
}

body.dark .board__container{
  color: $cv-white;
}

// Card & Post
body.dark .post__container{
  background-color: $cv-dark-blue;
  box-shadow: 0 3px 20px #1d26260d;
}

body.dark .post__item{
  color: $cv-white;
}

// forum container (new post / login / registration)
body.dark .form__container{
  background-color: $cv-dark-blue;
  box-shadow: 0 3px 20px #1d26260d;
}

body.dark .post__item{
  color: $cv-white;
}

body.dark .form-control{
  background-color: #434759 !important;
  border: 1px solid #434759;
  color: $cv-white;
  border-radius: 5px;
}

body.dark ::placeholder{
  color: $cv-white;
}

body.dark .form-select{
  background-color: #434759 !important;
  border: 1px solid #434759;
  color:  $cv-white;
  border-radius: 10px;
}


body.dark .toys__content {
  background-color: $cv-dark-blue;
  box-shadow: 0 3px 20px #1d26260d;
}

body.dark .asdndzone {
  color: $cv-white;
}


body.dark .simple-calendar table {
  background-color: #242834;
  border: 1px solid $cv-white;
}

body.dark .simple-calendar th {
  border-bottom: 1px solid $cv-white;
  border-left: 1px solid $cv-white;
  border-right: 1px solid $cv-white ;
  border-top: 0px none #242834;
  background-color: #242834;
  color:  white !important;
}

body.dark .simple-calendar .calendar-day{
  color: $cv-white;
}

body.dark .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #434859;
}

body.dark .table > :not(caption) > * > * {
  background-color: #242834;
}

body.dark .simple-calendar .current-month {
  color:  $cv-white;
}

body.dark .simple-calendar .fa-chevron-left::before, .simple-calendar .fa-chevron-right::before {
  color:  $cv-white;
}

body.dark .simple-calendar .green-day {
    background: #82ba08;
    color: $cv-white;
    padding: 5px 10px;
    border-radius: 50%;
}

body.dark .card-release-toy {
  background-color: #434859;
}
