.card__profile {
  height: 400px;
  width: 280px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rounded-circle {
  width: 56px;
  border-radius: 50%;
}

.card__karma {
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card__calender {
  height: 620px;
  width: 620px;
  margin:40px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
