.form__container {
  margin-bottom: 34px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 20px #1d26260d;
  border-radius: 10px;
  background-color: white;
  padding: 25px 25px 25px 45px;
}

#new_user{
  width: 100% !important;
}

// Form Create Category
.create__category__content__middle {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__category__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  border-radius: 2px;
  margin-top: 70px;
}

// Form Create
.create__post__content__middle {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__post__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  border-radius: 2px;
  margin-top: 40px;
}

.button__cancel {
  color: black;
  background-color: rgb(242, 135, 135);
  border-width: 0px;
  border-radius: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition-duration: 0.5s;
  display: inline-flex;
  margin-right: 5px;
}

.button__cancel:hover {
  color: black;
  background-color: red;

}

// Form Edit Profile
.edit__profil__content__middle{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__profil__box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  margin-top: 70px;
}

// Form Profile
.card__profile {
  height: 400px;
  width: 280px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rounded-circle {
  width: 56px;
  border-radius: 50%;
}

.card__karma {
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

// Comment Form
::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; } /* ie */
input:-moz-placeholder { font-size: 14px; }

// Dropdown Form
.form__main__text {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 12.5px;
}


.form__input__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
}

.left__input__container {
  width: 100%;
  margin-top: 12.5px;
}

.right__input__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12.5px;
}

.asdndzone{
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  padding: 10px;
}

#post_photos{
  width: 1px;
  height: 1px;
}

#post_content{
  height: 160px;
}

.button__create{
  width: 100px;
  display: flex;
  border: 2px #CBCBCB solid;
  border-radius: 25px;
  margin-top: 12.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
