.card__calender {
  width: 600px;
  height: auto;
  margin:10px;
  justify-content: center;
  display: flex;
}


.simple-calendar {
  width: 600px;
  height: auto;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: white;
    border: 1px solid white;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;

  }

  tr {
    border-collapse: collapse;
    background-color: white;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
    font-size: 10px;
    background-color: white;
  }

  .prev-month, .next-month {
    color: transparent;
  }

  .fa-chevron-left::before, .fa-chevron-right::before {
    color:$collectiv-dark-blue;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .fa-chevron-left:hover, .fa-chevron-right:hover {
    font-size: larger;
  }

  .current-month {
    color:$collectiv-dark-blue;
  }

  .current-month:hover {
    color:$collectiv-medium-blue;
    font-weight: bold;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
  }

  .day {
    height: 80px;
    width: 80px;
  }

  .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
  }

  .today {
    color: black;
    font-size: 25px;

    .calendar-day {
      border-radius: 50%;
      border: 1px solid black;
    }
  }

  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $collectiv-green;
    position: absolute;
    bottom: 15%
  }
}
