.form__container {
  margin-bottom: 34px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 20px #1d26260d;
  border-radius: 10px;
  background-color: white;
  padding: 25px 25px 25px 45px;
}

#new_user{
  width: 100% !important;
}

// Form Calendar
.card__calender {
  width: 600px;
  height: auto;
  margin:10px;
  justify-content: center;
  display: flex;
}


.simple-calendar {
  width: 600px;
  height: auto;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: white;
    border: 1px solid white;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;

  }

  tr {
    border-collapse: collapse;
    background-color: white;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    background-color: white;
  }

  .prev-month, .next-month {
    color: transparent;
  }

  .fa-chevron-left::before, .fa-chevron-right::before {
    color:$cv-dark-blue;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .fa-chevron-left:hover, .fa-chevron-right:hover {
    font-size: larger;
  }

  .current-month {
    color:$cv-dark-blue;
  }

  .current-month:hover {
    color:$cv-medium-blue;
    font-weight: bold;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
  }

  .day {
    height: 80px;
    width: 80px;
    padding-top: 10px;
  }

  .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: relative;
  }

  .today {
    color: black;

    .calendar-day {
      border-radius: 50%;
      border: 1px solid #a0a0a0;
    }
  }

  .fa-chevron-left {
    margin-left: 150px;
  }

  .fa-chevron-right {
    margin-right: 150px;
  }

  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $cv-green;
    position: absolute;
    bottom: 15%
  }
}

// Form Create Category
.create__category__content__middle {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__category__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  border-radius: 2px;
  margin-top: 70px;
}

// Form Create
.create__post__content__middle {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__post__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  border-radius: 2px;
  margin-top: 40px;
}

.button__cancel {
  color: black;
  background-color: rgb(242, 135, 135);
  border-width: 0px;
  border-radius: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition-duration: 0.5s;
  display: inline-flex;
  margin-right: 5px;
}

.button__cancel:hover {
  color: black;
  background-color: red;

}

// Form Edit Profile
.edit__profil__content__middle{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__profil__box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
  margin-top: 70px;
}

// Form Profile
.card__profile {
  height: 400px;
  width: 280px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rounded-circle {
  width: 56px;
  border-radius: 50%;
}

.card__karma {
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

// Comment Form
::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; } /* ie */
input:-moz-placeholder { font-size: 14px; }


// Toys index

.toy-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;


}

.card-height {
  min-height: 250px;

}


.card-img-calendar {
  object-fit: cover;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.card-image {
  border-radius: 10px 10px 10px 10px;
}

.card-content {
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toy-name {
  overflow: hidden;
  margin-bottom: 0;
  font-size: 12px;
}

.toy-release-date {
  display: flex;
  height: 30px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 12px;
}


.btn-calendar {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  background-color: $cv-medium-blue;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-calendar:hover {
  background-color: $cv-dark-blue;
  color: $cv-light-blue;
}

// Dropdown Form
.form__main__text {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 12.5px;
}


.form__input__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
}

.left__input__container {
  width: 100%;
  margin-top: 12.5px;
}

.right__input__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12.5px;
}

.asdndzone{
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  padding: 10px;
}

#post_photos{
  width: 1px;
  height: 1px;
}

#post_content{
  height: 160px;
}

.button__create{
  width: 100px;
  display: flex;
  border: 2px #CBCBCB solid;
  border-radius: 25px;
  margin-top: 12.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
