.full__site__content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.post__site__content {
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 34px;
  padding: 34px;
}

.posts__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px 45px;
}

.post__data{
  margin-bottom: 10px;
}

.post__item{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
}

.comments__container{
  width: 100%;
}

.post__comment{
  margin: 12.5px 0;
}
