.post_stack{
  margin: 0 auto !important;
  width: 60%;
  background-color: white;
}

.post_stack__content {
  padding: 5% 10% 5% 10%;
  line-height: 1.5em;
  margin-bottom: 20px;

}

.post_stack__header {
  text-align: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 5px
}

hr.solid {
  border-top: 2px solid #CCCCCC;
}

#set-margin {
  margin: auto 0;
  padding:0;
}
