.full__site__content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.post__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px 45px;
  margin-bottom: 14px;
}

.post__data{
  margin-bottom: 10px;
}

.post__item{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
}

.comments__container{
  width: 100%;
}

.post__comment{
  margin: 12.5px 0;
}

.posts__forum__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px 45px;
  background-color: $cv-bg-black;
}

.forum__post {
  margin-bottom: 10px; // just to put distance between this post design and old post design
  max-width: 850px;
  background-color: $cv-dark-blue;
  box-shadow: 0 3px 20px #1d26260d;
  border-radius: 10px;
  padding: 5px 20px;
  border-width: 0px;
}

.post__content__avatar{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post__content__user{
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.content__desc__right{
  display: flex;
  align-items: center;
}
