.registration__content__left{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration__box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding: 25px;
  background-color: #D9D9D9;
}

.registration__box__text{
  display: flex;
  justify-content: center;
}

.registration__content__right{
  width: 50vw;
}

.session__image{
  object-fit: cover;
  width: 50vw;
  height: calc(100vh - 50px);
}

.div-content{
  margin-top: 25px;
}
