a {
  text-decoration: none;
}

.full__page{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 34px;
  padding: 34px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  // Main
  .content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .user__content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .content__left{
    min-height: auto;
    overflow: auto;
  }
  // Navigation Bar
  .navigation__bar{
    grid-template-columns: 1fr 1fr;
  }
  .search__bar__placeholder {
    display: none;
  }
  .forum__logo__text {
    font-size: 20px;
  }
  .profile__text{
    display: none;
  }
  .profile__online__status{
    display: none;
  }
  .profile__avatar{
    margin-left: 1px;
  }
  .profile__button{
    width: 30px;
    height: 30px;
  }
  .nav__item{
    margin: 0 2px;
  }
  .nav__icon{
    font-size: 20px;
  }
  // Board
  .sticky__board{
    top: 0;
  }
  // Registration
  .registration__box{
    width: 80%;
  }
  .edit__profile__box{
    width: 80%;
  }
  // Post
  .post__content {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .search__bar__placeholder {
    display: none;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
  .search__bar__placeholder {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content {
    width: 70%;
    grid-template-columns: 1fr 2fr;
  }
  .search__bar__placeholder {
    display: flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content {
    width: 70%;
    grid-template-columns: 2fr 1fr;
  }
  .search__bar__placeholder {
    display: flex;
  }
}
