.site__content {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 34px;
  padding: 34px;
}

.user__site__content {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 34px;
  padding: 34px;
}

.post__site__content {
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 34px;
  padding: 34px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .site__content {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .site__content {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .site__content {
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .site__content {
    width: 80%;
    grid-template-columns: 1fr 3fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .site__content {
    width: 80%;
    grid-template-columns: 1fr 3fr 1fr;
  }
}
