<div class="cards">
      <% Category.all.each do |category| %>
      <%= link_to category_path(category) do  %>
        <div class="card">
            <div class="card__content">
              <span class="category__title"><%= category.name %></span>
            </div>
          <% end %>
        </div>
    <% end %>
    </div>
