<h1>Category index</h1>
<div class="container mt-5">
  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card mb-3 mx-auto card-min-height" style="width: 18rem;">
        <%= link_to category_path(category) do  %>
          <div class="card-image">
            <h3 class="category-name"><%= category.name %></h3>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>
</div>

<button type="button" class="button_primary">Click Me!</button>
<button type="button" class="button_secondary">Click Me!</button>
<button type="button" class="button_tertiary">Click Me!</button>
