<div class="d-flex" id="set-margin">
  <div class="create__category__content__middle">
    <div class="create__category__box">
      <h2 class="registration__box__text">Create your new favorite Category</h2>
      <hr class="solid">

      <div class="div-content">
        <%= simple_form_for @category do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :photo, as: :file%>
          </div>
          <div class="form-actions d-flex align-items-center">
            <button onclick="history.back()" class="button__cancel">Cancel</button>
            <%= f.button :submit, class: "button_primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
