<div class="d-flex mt-5 mb-5 rounded full-page" id="set-margin">
  <div class="main-div m-0 p-0">
    <div class="banner">
      <h2>New category</h2>
      <h5>Add your new favorite category.</h5>
      <hr class="solid">
    </div>

    <div class="div-content">
      <%= simple_form_for @category do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file%>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
