<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" hs-webfonts="true" href="https://fonts.googleapis.com/css?family=Lato|Lato:i,b,bi">
    <title>Email template</title>
    <meta property="og:title" content="Email template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      a {
        text-decoration: underline;
        color: inherit;
        font-weight: bold;
        color: #253342;
      }

      h1 {
        font-size: 56px;
      }

      h2 {
        font-size: 28px;
        font-weight: 900;
      }

      p {
        font-weight: 100;
      }

      td {
        vertical-align: top;
      }

      #email {
        margin: auto;
        margin-top: 50px;
        width: 70%;
        background-color: white;
      }

      button {
        font: inherit;
        background-color: #FF7A59;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900;
        color: white;
        border-radius: 5px;
        box-shadow: 3px 3px #d94c53;
      }

      .subtle-link {
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #CBD6E2;
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: #f0f3f7;">
    <div id="email">
      <table style="align: right;" role="presentation">
        <tr>
          <td>
            <a class="subtle-link" href="#">View in Browser</a>
          </td>
        </tr>
      </table>
      <! Banner -->
      <table role="presentation" width="100%" style="padding: 50px; border-bottom: 5px">
        <tr>
          <td style="background-color: #ffffff; align: center; color: white;">
            <img alt="JW logo" src="https://jimwitsenboer.com/wp-content/uploads/2018/08/logoZZP3-Copy.png" style="width: 200px; align: middle;">
          </td>
        <tr>
          <td style="width: 100%; background-color: #CCCCCC; font-size:1px;line-height:1px" height="1"> </td>
        </tr>
      </table>
      <tr>
        <td style="width: 100%; background-color: #CCCCCC; font-size:1px;line-height:1px" height="1"> </td>
      </tr>
      </table>
      <! First Row -->
      <table role="presentation" cellpadding="0" cellspacing="10px"
        style="padding: 30px 30px 30px 60px; border-width:0px;">
        <tr>
          <td>
            <h2> Invoice</h2>
            <div>
             <%= yield %>
            </div>
          </td>
        </tr>
      </table>
      <! Footer -->
      <table role="presentation" style=" background-color: #f0f3f7; width: 100%">
        <tr>
          <td style="padding: 30px 30px; align: left;">
            <p style="color:#99ACC2; font-size: 12px;"> ©2023 Collectiverse. All Rights Reserved. Privacy Policy | Terms of Use</p>
            <a class="subtle-link" href="https://www.collectiverse.net"> collectiverse.net </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
